@import './mixins';
.app-chatbot {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    &.closed {
        display: none;
    }

    @include mq-480 {
        height: 66%;
        max-width: 48rem;
        left: auto;
    }
}
.chatbot-container--hidden {
    display: none;
}
.chatbot-container--minimized {
    width: 8rem;
    height: 8rem;
    
    position: fixed;
    bottom: $margin--m;
    right: $margin--m;
}
.chatbot--default {
    height: 100%;
    display: flex;
    flex-direction: column;
}