.app-chatbot {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: auto 0 0 0;

    &:has(.nav-bar[class*="closed"]) {
        main {
            display: none;
        }
    }
}
