@import './mixins';
#app {
    width: 100dvw;
    height: 100dvh;
}
.app-chatbot {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    &.closed {
        display: none;
    }

    @include mq-480 {
        height: 66%;
        width: 48rem;
        left: auto;
        transition: 
            width .4s ease-in-out,
            height .4s ease-in-out;
        
        // Maximizing window
        &:has(input[class='maximize-toggler']:checked) {
            height: 100%;
            width: 100%;

            [class*="message--"] {
                @include mq-720 {
                  max-width: 50%;
                }
                @include mq-1024 {
                  max-width: 40%;
                }
                @include mq-1920 {
                  max-width: 33%;
                }
              }
        }
    }
}
.chatbot-container--hidden {
    display: none;
}
.chatbot-container--minimized {
    width: 8rem;
    height: 8rem;
    position: fixed;
    bottom: $margin--m;
    right: $margin--m;
    opacity: .9;
    &:hover {
        opacity: 1;
    }
}
.chatbot-container--default {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $rounded--s;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 18px -2px $gray--200;
    -moz-box-shadow: 0px 4px 18px -2px $gray--200;
    box-shadow: 0px 4px 18px -2px $gray--200;
}