.btn {
    cursor: pointer;
    min-width: 2.4rem;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--maximize,
    &--minimize,
    &--dropdown-menu {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        padding: $p--s*.5;
        &:hover {
            background-color: $white;
            path {
                fill: $main;
            }
        }
    }
    &--maximize {
        display: none;
        .maximize-toggler {
            appearance: none;
            position: absolute;
        }
        @include mq-480 {
            display: block;
        }
    }

    &--send-message {
        position: absolute;
        right: 0;
        padding: $p--m;
        background-color: $main;
        color: $white;
        border-top-left-radius: $rounded--l;
        &[disabled] {
            background-color: $gray--100;
        }
    }
    &--show-chatbot {
        overflow: hidden;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 18px -8px $black;
        -moz-box-shadow: 0px 0px 18px -8px $black;
        box-shadow: 0px 0px 18px -8px $black;
    }
    &--close-chatbot {
        position: absolute;
        top: -$margin--m;
        right: 0;
        background-color: $white;
    }
    &--close-cto {
        border-radius: 50%;
        &:hover { 
            background-color: $black;
            path {
                fill: $white;
            }
        }
    }
    &--chat-option {
        width: fit-content;
        height: fit-content;
        padding: $p--s*.25 $p--s;
        margin: $margin--s;
        color: $black;
        border: 1px solid $black;
        border-radius: $rounded--m;
        opacity: .6;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}