.btn {
    cursor: pointer;
    min-width: 2.4rem;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--maximize,
    &--minimize,
    &--toggle-dropdown {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        padding: $p--s*.5;
        &:hover {
            background-color: $white;
            path {
                fill: $main;
            }
        }
    }
    
    &--maximize { // Maximizing window style on _app.scss
        display: none;
        @include mq-480 {
            display: block;
        }
    }
    &--maximize .maximize-toggler,
    &--toggle-dropdown .dropdown-toggler {
            appearance: none;
            position: absolute;
    }
    &--menu-item {
        padding: $p--s;
        width: 100%;
        border-bottom: 1px solid $gray--200;
        border-left: 1px solid $gray--200;
        @include mq-480 {
            &:hover {
                background-color: $gray--200;
                color: $white;
            }
        }
    }
    &--send-message {
        padding: $p--s $p--m;
        background-color: $main;
        border-top-left-radius: $rounded--l;
        transition: padding .2s ease-in-out, background-color .1s ease-in-out;
        &[disabled]{
            cursor: default;
            background-color: $gray--200;
        }
        &:not([disabled]) {
            @include mq-480 {
                &:hover {
                    padding-right: $p--s*2;
                }
            }
        }
    }
    &--show-chatbot {
        overflow: hidden;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 18px -8px $black;
        -moz-box-shadow: 0px 0px 18px -8px $black;
        box-shadow: 0px 0px 18px -8px $black;
    }
    &--close-chatbot {
        position: absolute;
        top: -$margin--m;
        right: 0;
        background-color: $white;
    }
    &--close-cto {
        border-radius: 50%;
        &:hover { 
            background-color: $black;
            path {
                fill: $white;
            }
        }
    }
    &--chat-option {
        width: fit-content;
        height: fit-content;
        padding: $p--s*.25 $p--s;
        margin: $margin--s 0;
        color: $black;
        border: 1px solid $black;
        border-radius: $rounded--m;
        opacity: .6;
        @include mq-480 {
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}