.btn {
    cursor: pointer;
    min-width: 2.4rem;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--minimize,
    &--toggle-fullscreen,
    &--toggle-dropdown {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        padding: $p--s*.5;
        &:hover {
            background-color: $white;
            path {
                fill: $main;
            }
        }
    }
    &--toggle-fullscreen {
        display: none;
        @include mq-480 {
            display: block;
        }
    }
    &--maximize .maximize-toggler,
    &--toggle-dropdown .dropdown-toggler {
            appearance: none;
            position: absolute;
    }
    &--dropdown-menu-item {
        padding: $p--s;
        width: 100%;
        @include mq-480 {
            &:hover {
                background-color: $gray;
            }
        }
    }
    &--send-message {
        padding: $p--s $p--m;
        border-radius: $round;
        transition: padding .2s ease-in-out, background-color .1s ease-in-out;
        path {
            fill: $main;
        }
        &[disabled]{
            cursor: default;
            background-color: $white;
            path {
                fill: $gray--200;
            }
        }
        &:not([disabled]) {
            @include mq-480 {
                &:hover {
                    background-color: $main;
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
    &--show-chatbot {
        overflow: hidden;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 18px -8px $black;
        -moz-box-shadow: 0px 0px 18px -8px $black;
        box-shadow: 0px 0px 18px -8px $black;
    }
    &--close-chatbot {
        position: absolute;
        top: -$margin--m*2;
        right: 0;
        background-color: $gray--200;
        border-radius: 50%;
        path {
            fill: $white;
        }
        &:hover {
            background-color: $main;
        }
    }
    &--close-cto {
        border-radius: 50%;
        path {
            fill: $black;
        }
        &:hover { 
            background-color: $black;
            path {
                fill: $white;
            }
        }
    }
    &--chat-option {
        width: fit-content;
        height: fit-content;
        padding: $p--s*.25 $p--s;
        margin: $margin--s 0;
        color: $black;
        border-radius: $rounded--m;
        opacity: .6;
        border: 1px solid $gray--200;
        -webkit-box-shadow: 0px 0px 2px 1px $gray--200;
        -moz-box-shadow: 0px 0px 2px 1px $gray--200;
        box-shadow: 0px 0px 2px 1px $gray--200;
        @include mq-480 {
            &:hover {
                opacity: 1;
                border: 1px solid $black;
            }
        }
    }
}