.chat-questions-carousel {
    height: fit-content;
    position: relative;
    .option {
        width: fit-content;
        height: fit-content;
        &:nth-child(1) {
            margin-left: $margin--s;
        }
        &:nth-last-child(1) {
            margin-right: $margin--s;
        }
    }
}

