.form {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 5rem;
    border-top: 1px solid $gray--200;
    border-bottom: 1px solid $gray--200;
    .input {
        flex: 1;
        border: none;
        padding: $p--s;
        &:focus {
            outline: none;
        }
    }
}