.cto {
    display: flex;
    gap: $gap--m;
    position: absolute;
    right: calc(100% + $margin--m);
    width: calc(100dvw - 100% - $margin--m*3);
    background-color: $gray;
    padding: $p--m;
    border-radius: $rounded--m;
    border-bottom-right-radius: 0;
    transition: transform .4s ease-in-out;

    &-message {
        text-align: left;
    }
    &:hover {
        transform: translateY(-4px);
    }

    @include mq-480 {
        width: max-content;
    }
}