.dropdown-menu-container {
    margin-left: auto;
    z-index: 3;
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        border-left: 1px solid $gray--200;
        border-bottom: 1px solid $gray--200;
        border-bottom-left-radius: $rounded--m;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height .1s ease-in-out .2s, opacity .2s ease-in-out;

        &-item {
            border-bottom: 1px solid $gray--200;
            &:nth-last-child(1) {
                border: none;
            }
        }
    }
    &:has(input[class='dropdown-toggler']:checked) {
        .dropdown-menu {
            max-height: 99rem;
            opacity: 1;
            transition: max-height .4s ease-in-out, opacity .4s ease-in-out;
        }
    }
}
