.dropdown-menu {
    margin-left: auto;
    z-index: 3;
    .list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;

        .list-item {
            padding: $p--m;
            border-bottom: 1px solid $gray;
        }
    }
    .list.open {
        display: flex;
        flex-direction: column;
    }
}
