.form {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 3.2rem;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    .input {
        flex: 1;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .btn--send-message {
        position: absolute;
        right: 0;
        width: 6.4rem;
        height: 3.2rem;
        background-color: $main;
        color: $white;
        border-radius: $rounded--m;
    }
}