.message {
  border-radius: $rounded--m;
  width: fit-content;
  max-width: 60%;
  background-color: $white;
  padding: $p--s $p--m;
  transition: max-width .2s ease-in-out;
  animation: showingMessage .8s;

}
.chatbot.fullscreen {
  .message {
    @include mq-720 {
        max-width: 32rem;
    }
    @include mq-1024 {
      max-width: 36rem;
    }
  }
}

.message {
  box-shadow: 0px 0px 12px -8px $black;

  &--user {
    text-align: right;
    background-color: $main;
    color: $white;
    border-top-right-radius: 0;
    margin: $margin--m 0 $margin--m auto;
  }
  
  &--chatbot {
    text-align: left;
    border-top-left-radius: 0;
  }

  &--image-card {
    padding: $p--s;
    cursor: grab;

    .article {
      display: flex;
      flex-direction: column;
      padding: $p--s;
      gap: $gap--s;
      margin: 0;
      margin-bottom: $margin--l;
      border: 1px solid $gray;

      .title {
        text-transform: uppercase;
      }

      .link {
        color: $gray--200;
        font-weight: 600;
        width: fit-content;
  
        &:hover {
          color: $main;
          animation: bounceUp .6s linear;
        }
      }
    }
  }
}