.top-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: $main;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: $p--s*.5;

  .chatbot {
    &-profile {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}
