@import './variables';
@font-face {
    font-family: "source sans 3";
    src: url("../public/fonts/SourceSans3-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: light;
}

* {
    font-family: "source sans 3", Arial, Helvetica, sans-serif;
}

h2, p,a {
    font-size: $font--m;
}
 
.question,
.input,
.list-item,
.btn--send-message,
.btn--dropdown-menu {
    font-size: $font--m;
}